<div class="navbarSuperior">
    
    <div class="logo"><img src='/images/logo2.jpeg' alt="logo" title="Satoshi"></div>
    <div class="navbarSuperior">
        <a href="/users/login"><i class="fa-solid fa-user-check"></i> Iniciar sesi贸n</a>
    
    <a href="/users/register"><i class="fa-solid fa-user-plus"></i> Crear cuenta</a>
    
    <a href="#"><i class="fa-solid fa-magnifying-glass"></i> Buscar</a>
    
    <a class="fav" href="/users/cart"><i class="fa-solid fa-heart"></i> Favoritos</a>

    <a href="/users/cart"><i class="fa-solid fa-cart-shopping"></i> Carrito de compras</a></div>
    
</div>

<header>
    
    <div><nav class="navbarInferior">
            
        <ul class="menu">
            <li class="nav-item">
              <a href="#">Comics</a>
              <ul class="submenu">
                <li><a href="#">C贸mic Americano</a></li>
                <li><a href="#">C贸mic Europeo</a></li>
                <li><a href="#">C贸mic Nacional</a></li>
              </ul>
            </li>
             </ul>


        
             <ul class="menu">
                <li class="nav-item">
                  <a href="#">Mangas</a>
                  <ul class="submenu">
                    <li><a href="#">Ediciones nacionales</a></li>
                    <li><a href="#">Ediciones importadas</a></li>
                    </ul>
                </li>
                 </ul>

        <li class="nav-item">
            <a href="#">
                Libros</a>
        </li>

        <li class="nav-item">
            <a href="#">
                Figuras</a>
        </li>

        <ul class="menu">
            <li class="nav-item">
              <a href="#">Juegos</a>
              <ul class="submenu">
                <li><a href="#">Cartas coleccionables</a></li>
                <li><a href="#">Juegos de mesa</a></li>
                <li><a href="#">Juegos de rol</a></li>
              </ul>
            </li>
             </ul>
        <li class="nav-item">
            <a href="#">
                Remeras</a>
        </li>
        <li class="nav-item">
            <a href="#">
                Merchandising</a>
        </li>
        <li class="nav-item">
            <a href="#">
                Promociones</a>
        </li>
        <li class="nav-item">
            <a href="#">
                Nosotros</a>
        </li>
    </ul>
</div>
</div>
</nav></div>

</header>
