<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="logo"><img src='/images/logo2.jpeg' alt="logo"></div>
    <h1><%= title %></h1>
    <br>
    <p>[ SITIO EN CONSTRUCCIÓN ]</p>
    
  </body>
</html>
