body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: orange;
}

p, h1 {
  color: #fff;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

img {
  width: 180px;
}